.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
errorReportR.txt
.DS_Store

*.csv
*.RDS

stan/giggcmdstanmodel
Stan/r2d2groupedcmdstanmodel
Stan/r2d2groupedcmdstanmodel

Stan/R2D2
Stan/R2D2_grouped
Stan/gigg


*.pdf
stan/gigg.stan.bak-20230917221555
Stan/pp_gigg
Stan/gigg
stan/R2D2
stan/R2D2.stan.bak-20230917221503
Stan/R2D2_grouped
stan/R2D2_grouped.stan.bak-20230917221524
stan/r2d2cmdstanmodel
Stan/r2d2groupedcmdstanmodel
Stan/gigg
