.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
errorReportR.txt
.DS_Store
Stan/gigg
Stan/R2D2_grouped
Stan/r2d2groupedcmdstanmodel
*.csv
stan/giggcmdstanmodel
Stan/r2d2groupedcmdstanmodel
Stan/r2d2groupedcmdstanmodel
Stan/R2D2_grouped
Stan/gigg
Stan/gigg
Stan/gigg
Stan/R2D2_grouped
