.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
errorReportR.txt
.DS_Store

*.csv
*.RDS

stan/giggcmdstanmodel
Stan/r2d2groupedcmdstanmodel
Stan/r2d2groupedcmdstanmodel

Stan/R2D2
Stan/R2D2_grouped
Stan/gigg


